.works {
  flex: 1;
  width: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;

  .work-filter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    margin: 4rem 0 2rem;

    .work-filter-item {
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      font-size: 0.95rem;
      cursor: pointer;
      margin: 0.5rem;

      @media screen and (min-width: 2000px) {
        padding: 1rem 2rem;
        border-radius: 0.85rem;
      }
    }

    .item-active {
      background-color: var(--primary);
      border: 1px solid var(--primary);
      color: var(--bg2);
    }
  }

  .work-portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
