.about-column {
  // background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30.5%;
  height: 100%;
  background-color: var(--bg2);
  border-radius: 0.7rem;
  // padding-top: 1rem;

  .column-column__img-container {
    margin-top: 0.5rem;
    width: 80px;
    height: 850x;
    padding: 15px;

    .about-column__img {
      width: 100%;
      height: 100%;
    }

    .dna-icon {
    }
    .code-icon {
      // scale: 0.92;
    }
    .ufo-icon {
    }
  }

  .about-column__title {
    text-align: center;
    font-weight: normal;
    font-size: 1.15rem;
    padding-bottom: 20px;
    // color: var(--primary);

    background: linear-gradient(90deg, var(--primary), var(--secondary));
    -webkit-background-clip: text; /* Chrome, Safari */
    -webkit-text-fill-color: transparent;
    background-clip: text; /* Firefox */
    color: transparent; /* fallback */
  }

  .about-column__txt {
    text-align: justify;
    font-size: 1rem;
    color: var(--primary);
    line-height: 1.5;
    display: flex;
    align-items: flex-start;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1.5rem;
  }
}
