.modal-skills-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-right: 2rem;
  margin-bottom: 1rem;
  transition: all 0.3s ease-in-out;

  div {
    width: 62px;
    height: 62px;
    border-radius: 20%;

    img {
      width: 55%;
      height: 55%;
    }
  }

  p {
    margin-top: 0.5rem;
    color: var(--grey);
    font-size: 1.15rem;
    color: var(--secondary);
  }
}
