.about__intro {
  width: 76vw; // content width, needs to be the same as content abouts (aboutslide)
  display: grid;
  grid-template-columns: 1fr 4.5fr;
  // gap: 2rem;
  // border: 1px solid gold;

  .about__intro__avatar-container {
    width: 100%;
    height: auto;
    // height: 100%;
    display: flex;
    justify-content: center;
    // align-items: center;
    // background-color: rgba(127, 255, 212, 0.449);
    transform: translateY(-15%);

    .about__intro__avatar-img {
      width: 100%;
    }
  }

  .about__intro__txt {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
    text-align: justify;
    // justify-content: center;
    // background-color: rgba(255, 217, 0, 0.436);

    .about__intro__txt-p {
      // display: inline-flex;
      // flex-direction: row;
      // align-items: flex-start;
      // font-size: clamp(1.1rem, 1.25rem, 1.3rem);
      font-size: 1.1rem;
      text-align: justify;

      // text-align: left;
      color: var(--grey-light);
      // border: 2px solid black;

      span {
        // font-weight: bold;
        color: var(--secondary);
      }
    }

    .about__intro__location {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 1rem;
      .about__intro__location-icon-container {
        display: flex;
        margin-right: 10px;
        width: 35px;
        height: 35px;

        .about__intro__location-icon {
          width: 100%;
          height: 100%;
        }
      }

      .about__intro__location-p {
      }
    }
  }
}
