.heading-section {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: var(--font-nav);
  font-size: 1.75rem;
  color: var(--secondary);
  width: 100%;

  @media screen and (min-width: 2000px) {
    font-size: 2.8rem;
  }
  @media (max-width: 550px) {
    font-size: 2.3rem;
  }
  @media screen and (max-width: 400px) {
    font-size: 2rem;
  }
  @media screen and (max-width: 325px) {
    font-size: 1.6rem;
  }
}
