.project-img-carousel__container {
  // border: 2px solid hotpink;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 13px;

  .project-img-carousel__btns {
    position: absolute;
    width: 85%;
    height: 100%;
    z-index: 200;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .project-img-carousel__btn-prev,
    .project-img-carousel__btn-next {
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      background-color: transparent;
      width: clamp(20px, 35px, 40px);
      height: clamp(20px, 35px, 40px);
      transform: translateY(5px);
      cursor: pointer;

      svg {
        width: 100%;
        height: 100%;
        color: rgba(255, 255, 255, 0.3);
      }

      &:hover {
        svg {
          color: rgba(255, 255, 255, 0.8);
        }
      }
    }
  }

  .project-img-carousel__slides-container {
    position: relative;
    width: 93%;
    height: 93%;
    position: relative;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    border-radius: 0.5rem;

    .project-img-carousel__slide {
      width: 100%;
      height: 100%;
      position: absolute;
      transition: opacity ease-in-out 0.5s;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      border: 2px solid rgba(255, 255, 255, 0.5);
      border-radius: 0.5rem;

      .project-img-carousel__slide-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0.5rem;
      }
    }

    .slide-hidden {
      opacity: 0;
    }

    .slide-active {
      opacity: 1;
    }
  }

  .project-img-carousel__dots {
    // background-color: rgba(0, 128, 0, 0.61);
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 10px;
    width: 100%;
    height: 100%;

    .project-img-carousel__dot {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      margin: 0 5px;
      background: rgba(255, 255, 255, 0.3);

      &.active {
        background: rgba(255, 255, 255, 0.8);
      }
    }
  }

  // @media screen and (max-width: 1485px) {
  //   .carousel-container {
  //     position: relative;
  //     width: 22rem;
  //     height: 22rem;
  //   }
  //   .dots-carousel {
  //     display: flex;
  //     width: 22rem;
  //   }
  // }
}
