.skills-item {
  flex-direction: column;
  text-align: center;
  margin: 1rem;
  transition: all 0.3s ease-in-out;
  justify-content: flex-start;

  div {
    width: 70px;
    height: 70px;
    border-radius: 50%;

    img {
      width: 55%;
      height: 55%;
    }

    //   &:hover {
    //           box-shadow: 0 0 5px rgb(9, 59, 113);
    //   }
    @media screen and (min-width: 2000px) {
      margin: 1rem 2rem;
      width: 120px;
      height: 120px;
    }
    @media screen and (max-width: 1150px) {
      width: 70px;
      height: 70px;
    }
    @media screen and (max-width: 450px) {
      width: 70px;
      height: 70px;
    }
  }

  p {
    font-size: 1.1rem;
    margin-top: 0.5rem;
    color: var(--grey);
  }
}

// adjusting size of icons
#babel-icon {
  img {
    scale: 1.2;
  }
}
#bootstrap-icon {
  img {
    scale: 1.05;
  }
}
#express-icon {
  img {
    scale: 1;
  }
}
#firebase-icon {
  img {
    scale: 1.05;
  }
}
#firestore-icon {
  img {
    scale: 1.15;
  }
}
#go-icon {
  img {
    scale: 1.2;
  }
}
#heroku-icon {
  img {
    scale: 0.9;
  }
}
#java-icon {
  img {
    scale: 1.1;
    margin-bottom: 5px;
  }
}
#linux-icon {
  img {
    scale: 1.1;
    // margin-right: 5px;
  }
}
#mongoose-icon {
  img {
    scale: 1.4;
  }
}
#mongodb-icon {
  img {
    scale: 1.25;
  }
}
#netlify-icon {
  img {
    scale: 1.05;
  }
}
#npm-icon {
  img {
    scale: 1.1;
  }
}
#openai-icon {
  img {
    scale: 1.06;
  }
}
#postgresql-icon {
  img {
    margin-top: 2px;
  }
}
#python-icon {
  img {
    scale: 1.05;
  }
}
#react-icon {
  img {
    scale: 1.1;
  }
}
#redux-icon {
  img {
    scale: 0.95;
  }
}
#ruby-icon {
  img {
    scale: 0.95;
    margin-right: 5px;
  }
}
#tailwind-icon {
  img {
    scale: 1.15;
  }
}
#typescript-icon,
#javascript-icon {
  img {
    scale: 0.95;
  }
}
#vite-icon {
  img {
    scale: 1.09;
    margin-top: 5px;
  }
}

//skills icons changing color on hover
#angular-icon:hover {
  p {
    color: #e73ba2;
  }
  img {
    content: url('./../../../assets/icons/icons_skills/angular_color.svg');
  }
}
#babel-icon:hover {
  p {
    color: #000;
  }
  img {
    content: url('./../../../assets/icons/icons_skills/babel_color.svg');
  }
}

#bootstrap-icon:hover {
  p {
    color: #8d58e2;
  }
  img {
    content: url('./../../../assets/icons/icons_skills/bootstrap_color.svg');
  }
}

#css-icon:hover {
  p {
    color: #0da3d4;
  }
  img {
    content: url('./../../../assets/icons/icons_skills/css_color.svg');
  }
}

#express-icon:hover {
  p {
    color: #c93d30;
  }
  img {
    content: url('./../../../assets/icons/icons_skills/express_color.svg');
  }
}

#firebase-icon:hover {
  p {
    color: #e99619;
  }
  img {
    content: url('./../../../assets/icons/icons_skills/firebase_color.svg');
  }
}

#firestore-icon:hover {
  p {
    color: #e99619;
  }
  img {
    content: url('./../../../assets/icons/icons_skills/firestore_color.svg');
  }
}

#git-icon:hover {
  p {
    color: #f34f29;
  }
  img {
    content: url('./../../../assets/icons/icons_skills/git_color.svg');
  }
}

#github-icon:hover {
  p {
    color: #8d58e2;
  }
  img {
    content: url('./../../../assets/icons/icons_skills/github_color.svg');
  }
}

#go-icon:hover {
  p {
    color: #01add8;
  }
  img {
    content: url('./../../../assets/icons/icons_skills/go_color.svg');
  }
}

#heroku-icon:hover {
  p {
    color: #8d58e2;
  }
  img {
    content: url('./../../../assets/icons/icons_skills/heroku_color.svg');
  }
}

#html-icon:hover {
  p {
    color: #e34b24;
  }
  img {
    content: url('./../../../assets/icons/icons_skills/html_color.svg');
  }
}

#java-icon:hover {
  p {
    color: #e76f00;
  }
  img {
    content: url('./../../../assets/icons/icons_skills/java_color.svg');
  }
}

#javascript-icon:hover {
  p {
    color: #f2cd6f;
  }
  img {
    content: url('./../../../assets/icons/icons_skills/javascript_color.svg');
  }
}

#jwt-icon:hover {
  p {
    color: #d63aff;
  }
  img {
    content: url('./../../../assets/icons/icons_skills/jwt_color.svg');
  }
}

#linux-icon:hover {
  p {
    color: #dd4814;
  }
  img {
    content: url('./../../../assets/icons/icons_skills/ubuntu_color.svg');
  }
}

#mongodb-icon:hover {
  p {
    color: #46a438;
  }
  img {
    content: url('./../../../assets/icons/icons_skills/mongodb_color.svg');
  }
}

#mongoose-icon:hover {
  p {
    color: #9e0303;
  }
  img {
    content: url('./../../../assets/icons/icons_skills/mongoose_color.svg');
  }
}

#netlify-icon:hover {
  p {
    color: #32b5ba;
  }
  img {
    content: url('./../../../assets/icons/icons_skills/netlify_color.svg');
  }
}

#npm-icon:hover {
  p {
    color: #cb3837;
  }
  img {
    content: url('./../../../assets/icons/icons_skills/npm_color.svg');
  }
}

#nodejs-icon:hover {
  p {
    color: #46a438;
  }
  img {
    content: url('./../../../assets/icons/icons_skills/nodejs_color.svg');
  }
}

#openai-icon:hover {
  p {
    color: var(--grey-light);
  }
  img {
    content: url('./../../../assets/icons/icons_skills/openai_color.svg');
  }
}

#passport-icon:hover {
  p {
    color: #000;
  }
  img {
    content: url('./../../../assets/icons/icons_skills/passport_color.svg');
  }
}

#postgresql-icon:hover {
  p {
    color: #1d649e;
  }
  img {
    content: url('./../../../assets/icons/icons_skills/postgresql_color.svg');
  }
}

#postman-icon:hover {
  p {
    color: #f37036;
  }
  img {
    content: url('./../../../assets/icons/icons_skills/postman_color.svg');
  }
}

#python-icon:hover {
  p {
    color: #ffcf46;
  }
  img {
    content: url('./../../../assets/icons/icons_skills/python_color.svg');
  }
}

#rails-icon:hover {
  p {
    color: #cd0000;
  }
  img {
    content: url('./../../../assets/icons/icons_skills/rails_color.svg');
  }
}

#react-icon:hover {
  p {
    color: #0da3d4;
  }
  img {
    content: url('./../../../assets/icons/icons_skills/react_color.svg');
  }
}

#redux-icon:hover {
  p {
    color: #8d58e2;
  }
  img {
    content: url('./../../../assets/icons/icons_skills/redux_color.svg');
  }
}

#ruby-icon:hover {
  p {
    color: #cd0000;
  }
  img {
    content: url('./../../../assets/icons/icons_skills/ruby_color.svg');
  }
}

#sass-icon:hover {
  p {
    color: #cf6b9e;
  }
  img {
    content: url('./../../../assets/icons/icons_skills/sass_color.svg');
  }
}

#typescript-icon:hover {
  p {
    color: #3178c6;
  }
  img {
    content: url('./../../../assets/icons/icons_skills/typescript_color.svg');
  }
}

#tailwind-icon:hover {
  p {
    color: #44a8b3;
  }
  img {
    content: url('./../../../assets/icons/icons_skills/tailwind_color.svg');
  }
}

#vite-icon:hover {
  p {
    color: #9467fe;
  }
  img {
    content: url('./../../../assets/icons/icons_skills/vite_color.svg');
  }
}

#yarn-icon:hover {
  p {
    color: #368fb9;
  }
  img {
    content: url('./../../../assets/icons/icons_skills/yarn_color.svg');
  }
}
