.skills-section {
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  .skills-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .categories-container {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      // background-color: pink;
    }
  }

  @media screen and (max-width: 1000px) {
    .categories-container {
      gap: 2rem;
    }
  }
}
