.mobile-slide {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 1rem 1.5rem;
  width: 60%;
  color: var(--primary);

  @media screen and (max-width: 400px) {
    width: 70%;
  }

  h2 {
    text-align: center;
    font-weight: normal;
    font-size: 1.3rem;
    padding-bottom: 20px;

    @media screen and (max-width: 600px) {
      font-size: 1rem;
    }
  }

  svg {
    color: var(--primary);
  }

  &.mobile-slide-about {
    .slide-img-container {
      width: 95px;
      height: 95px;

      @media screen and (max-width: 600px) {
        width: 75px;
        height: 75px;
      }

      svg {
        width: 100%;
        height: 100%;
        padding: 20px;
      }

      &.code {
        svg {
          scale: 0.92;
        }
      }
    }

    p {
      text-align: justify;
      font-size: 1rem;
      color: var(--grey-light);
      line-height: 1.5;

      @media screen and (max-width: 600px) {
        font-size: 0.85rem;
      }
      @media screen and (max-width: 305px) {
        font-size: 0.8rem;
      }
    }
  }
  &.mobile-slide-creators {
    .creators {
      font-size: 1rem;
      color: var(--grey-light);
      width: 100%;
      height: 90%;
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      flex: 1;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 20px;

      .creator {
      }
    }
  }
}
