.about {
  flex: 1;
  width: 100%;
  display: flex;

  .about-container {
    display: flex;
    flex-direction: column;
    align-items: center; // x-axis
    justify-content: flex-start; //y-axis
    width: 100%;
    height: 100%;

    .about__content {
      width: 95%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center; // x-axis
      justify-content: flex-start; //y-axis
      // grid-template-rows: 3fr 7fr;
      // border: 1px solid red;

      .about__carousel-container {
        // border: 2px solid white;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
    }
  }
}

@media screen and (max-width: 1171px) {
  .about-container {
    .about__content {
      .about__intro {
        .about__intro__avatar-container {
          .about__intro__avatar-img {
            width: 15vw !important;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .about-container {
    .about__content {
      .about__intro {
        .about__intro__avatar-container {
          .about__intro__avatar-img {
            width: 18vw !important;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .about-container {
    .about__content {
      .about__intro {
        .about__intro__avatar-container {
          .about__intro__avatar-img {
            width: 22vw !important;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 630px) {
  .about-container {
    .about__content {
      .about__intro {
        .about__intro__avatar-container {
          .about__intro__avatar-img {
            width: 28vw !important;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .about-container {
    .about__content {
      .about__intro {
        display: flex !important;
        flex-direction: column !important;
      }
      .about__intro__avatar-container {
        display: none !important;
      }

      .about__intro__text {
        .about__intro__text-p {
          font-size: clamp(0.8rem, 1rem, 1.1rem) !important;
        }

        h2 {
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
        }
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .about-container {
    .about__content {
      .about__intro__text {
        .about__intro__text-p {
          font-size: 0.9rem !important;
        }
      }
    }
  }
}
