.about-carousel__slide__content-abouts {
  // background-color: green;
  width: 68vw; // needs same width as about-into
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  z-index: 1;
  gap: 2rem;
  background-color: black;
}
