#home {
  background-color: black;
}

.header {
  flex: 1;
  width: 100%;
  height: 100%;
  flex-direction: column;
  padding: 0;
  margin: 0;

  .h-text::selection {
    background: var(--primary-dark-a);
  }
  .h-text::-moz-selection {
    background: var(--primary-dark-a);
  }
  .p-text::selection {
    background: var(--primary-dark-a);
  }
  .p-text::-moz-selection {
    background: var(--primary-dark-a);
  }

  .header-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 30%;
    // opacity: 0;
    transform: translateX(-25rem);
    animation: fadeInLtR 2.5s ease forwards;
  }

  .header-text {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--white);

    .header-text-container {
      flex-direction: column;
      color: var(--white);
      width: 100%;
      // width: 100%;
      width: auto;
      letter-spacing: 5px;
      // border: 2px solid green;

      .intro {
        font-family: var(--font-nav);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        // margin-top: 1rem;
        // background-color: maroon;

        .greeting {
          font-family: var(--font-typewriter);
          color: var(--yellow);
          width: 100%;

          font-size: 25px;
          text-align: center;
          display: flex;
          align-items: flex-end;
          justify-content: flex-start;
          font-weight: 400;
          // background-color: red;
          margin-bottom: -20px;

          span {
            font-size: 2.5rem;
            padding-right: 1rem;
          }
        }

        .header-name {
          font-family: var(--font-nav);
          position: relative;
          text-align: center;
          color: var(--yellow);
          // margin-bottom: 0.2rem;
          font-size: 3rem;
          height: 7rem;
          text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
            -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
            0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
          animation: header-name 500ms infinite;
          // border: 2px solid white;

          span {
            position: absolute;
            top: 0;
            left: 0;
            font-family: var(--font-nav);
          }

          span:first-child {
            animation: header-name 650ms infinite;
            clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
            transform: translate(-0.025em, -0.0125em);
            opacity: 0.8;
          }
          span:last-child {
            animation: header-name 375ms infinite;
            clip-path: polygon(0 80%, 100% 20%, 100% 100%, 0 100%);
            transform: translate(0.0125em, 0.025em);
            opacity: 0.8;
          }
        }

        // glitch effect for name

        @keyframes header-name {
          0% {
            text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
              -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
              -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
          }
          14% {
            text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
              -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
              -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
          }
          15% {
            text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
              0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
              -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
          }
          49% {
            text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
              0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
              -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
          }
          50% {
            text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
              0.05em 0 0 rgba(0, 255, 0, 0.75),
              0 -0.05em 0 rgba(0, 0, 255, 0.75);
          }
          99% {
            text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
              0.05em 0 0 rgba(0, 255, 0, 0.75),
              0 -0.05em 0 rgba(0, 0, 255, 0.75);
          }
          100% {
            text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.75),
              -0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
              -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
          }
        }

        .job-title {
          font-family: var(--font-typewriter);
          position: relative;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
          color: var(--yellow);
          text-align: right;
          font-size: 31px;
          font-weight: 700;
          text-align: center;
          width: max-content;
        }

        .job-title::before,
        .job-title::after {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
        }

        .job-title::before {
          background-color: black;
          /* Full-Stack Developer - 20 characters */
          animation: typewriter var(--typewriterSpeed) steps(20) 1.75s forwards;
        }
        .job-title::after {
          width: 0.08em;
          background-color: var(--yellow);
          height: 70%;
          margin-top: 0.2em;

          /* Full-Stack Developer - 20 characters */
          animation: typewriter var(--typewriterSpeed) steps(20) 1.75s forwards,
            blink 750ms steps(20) infinite;
        }

        @keyframes typewriter {
          to {
            left: 100%;
          }
        }

        @keyframes blink {
          to {
            background-color: transparent;
          }
        }

        @keyframes fadeInLtR {
          to {
            opacity: 1;
            transform: translateX(0);
          }
        }
      }
    }
  }
}

.particles-container {
  width: 100%;
  height: 100%;
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}

.arrow-container {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  bottom: 150px;
  cursor: pointer;

  img {
    width: 40px;
  }
}

@media screen and (max-width: 900px) {
  .header {
    .header-text {
      .header-text-container {
        .greeting {
          font-size: 1.6em;
        }

        .intro {
          .header-name {
            font-size: 2.2em;
          }

          .job-title {
            font-size: 1.6em;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .header {
    .header-text {
      .header-text-container {
        .greeting {
          font-size: 1.4em;
        }

        .intro {
          .header-name {
            font-size: 2.2em;
            width: 70%;
          }

          .job-title {
            font-size: 1.4em;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .header {
    .header-text {
      .header-text-container {
        .greeting {
          font-size: 1.1em;
        }

        .intro {
          .header-name {
            font-size: 2em;
            width: 70%;
          }

          .job-title {
            font-size: 1.1em;
          }
        }
      }
    }
  }

  .arrow-container {
    img {
      width: 30px;
    }
  }
}

@media screen and (max-width: 325px) {
  .header {
    .header-text {
      .header-text-container {
        .greeting {
          font-size: 1em;
        }

        .intro {
          .header-name {
            font-size: 1.8em;
            width: 70%;
          }

          .job-title {
            font-size: 1em;
          }
        }
      }
    }
  }

  .arrow-container {
    img {
      width: 28px;
    }
  }
}

@media screen and (max-width: 300px) {
  .header {
    .header-text {
      .header-text-container {
        .greeting {
          font-size: 0.65em;
        }

        .intro {
          .header-name {
            font-size: 1.3em;
            width: 70%;
          }

          .job-title {
            font-size: 0.65em;
          }
        }
      }
    }
  }

  .arrow-container {
    img {
      width: 20px;
    }
  }
}
