.about-carousel__slide__content-blogs {
  width: 82%;
  height: 100%;
  color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 2.5rem;
  margin-top: 3rem;

  .about-carousel__slide__content-blogs__title {
    text-align: center;
    font-weight: 500;
    color: var(--secondary);
  }

  .about-carousel__slide__content-blogs__blogs-container {
    z-index: 95;
    width: 100%;
    max-height: 400px;
    display: flex;
    flex-direction: row;
    // flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    // align-items: center;
    gap: 1.5rem;
  }
}
