.skills-category {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 65%;
  border: 1px solid var(--bg2);
  // background-color: rgba(182, 192, 230, 0.322);
  border-bottom: 1px solid var(--secondary-a);

  h2 {
    display: flex;
    color: var(--primary);
    font-weight: 500;
    width: 15rem;
    text-align: left;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.5rem;
    // background-color: red;
  }

  .skills-list {
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    // border: 2px solid red;
  }

  @media screen and (min-width: 2000px) {
    h2 {
      font-size: 1.8rem;
    }
  }

  @media screen and (max-width: 1150px) {
    h2 {
      font-size: 1.5rem;
    }
  }

  @media screen and (max-width: 1030px) {
    flex-direction: column;
    border-bottom: none;

    gap: 8px;
    h2 {
      width: 100%;
      text-align: center;
      margin-left: 0rem;
      padding-top: 15px;
      color: var(--secondary);
    }

    .skills-list {
      justify-content: center;
    }
  }
}

.skills-category:last-of-type {
  border-bottom: none;
}
