.blog-modal__link {
  // background-color: var(--primary);
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;

  .blog-modal__link-icon {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 100%;
      height: 100%;
      color: var(--primary);
      transition: 0.3s ease-in-out;
    }
  }

  .blog-modal__link-icon.website-icon {
    svg {
      scale: 1.25;
    }
  }
  .blog-modal__link-icon.blog-icon {
    svg {
      scale: 0.85;
    }
  }
  .blog-modal__link-icon.podcast-icon {
    svg {
      scale: 0.88;
    }
  }
  .blog-modal__link-icon.newsletter-icon {
    svg {
      scale: 0.9;
    }
  }
  .blog-modal__link-icon.forum-icon {
    svg {
      scale: 0.92;
    }
  }
  .blog-modal__link-icon.github-icon {
    svg {
      scale: 0.88;
    }
  }
  .blog-modal__link-icon.youtube-icon {
    svg {
      scale: 1.1;
    }
  }
  .blog-modal__link-icon.mastodon-icon {
    svg {
      scale: 0.98;
    }
  }
  .blog-modal__link-icon.linkedin-icon {
    svg {
      scale: 0.9;
    }
  }
}

.blog-modal__link:hover {
  .blog-modal__link-icon {
    svg {
      color: var(--secondary);
      transform: translateY(-6px);

      cursor: pointer;
    }
  }
}

// .modal-link:hover {
//   svg {
//     color: var(--secondary);
//     scale: 1.15;
//     cursor: pointer;
//   }
// }
