.blog-modal__link {
  // background-color: var(--primary);
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;

  .blog-modal__link-icon-container {
    // width: 100%;
    // height: 100%;
    // display: flex;
    // align-items: center;
    // justify-content: center;

    .blog-modal__link-icon {
      width: 100%;
      height: 100%;
      transition: 0.3s ease-in-out;
    }

    .blog-modal__link-icon-website {
      scale: 0.92;
    }
    .blog-modal__link-icon-blog {
      scale: 0.9;
    }
    .blog-modal__link-icon-podcast {
      scale: 1.08;
    }
    .blog-modal__link-icon-newsletter {
      scale: 1.18;
    }
    .blog-modal__link-icon-forum {
      scale: 1.12;
    }
    .blog-modal__link-icon-github {
      scale: 1.1;
    }
    .blog-modal__link-icon-youtube {
      scale: 1.68;
    }
    .blog-modal__link-icon-mastodon {
      scale: 1.1;
    }
    .blog-modal__link-icon-linkedin {
      scale: 1;
    }
  }
}

.blog-modal__link:hover {
  .blog-modal__link-icon-container {
    .blog-modal__link-icon {
      cursor: pointer;
      transform: translateY(-5px);
    }
  }
}

// .modal-link:hover {
//   svg {
//     color: var(--secondary);
//     scale: 1.15;
//     cursor: pointer;
//   }
// }
