.app {
  background-color: var(--black);
  font-family: var(--font-base);
}

.app-cont {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow-y: auto;
}

.app-cont-bottom {
  min-height: 96vh;

  width: 100%;
  display: flex;
  flex-direction: row;
  overflow-y: auto;
}

.app-wrapper {
  flex: 1;
  width: 100%;
  flex-direction: column;
  padding-left: 2rem;
  padding-right: 2.5rem;
  padding-top: 5rem;
  padding-bottom: 2rem;
  // padding: 4rem 2rem;
  // border: 2px solid teal;

  @media screen and (min-width: 1500px) {
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 5rem;
    padding-bottom: 4rem;
    // background-color: yellow;
  }

  @media screen and (max-width: 450px) {
    padding: 4rem 1rem 2rem;
  }
}

.nav-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  right: -2%;

  .nav-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--gray-a);
    margin: 0.5rem;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: var(--primary) !important;
    }

    @media screen and (min-width: 2000px) {
      width: 20px;
      height: 20px;
    }
  }
}

@media screen and (max-width: 1000px) {
  .nav-dots,
  .contact-icons {
    display: none;
  }
}

@media screen and (min-width: 1000px) {
  .app-cont {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    scroll-snap-align: start;
  }
}
