/* font imports (.woff files in ./assets/fonts ) */

/* --font-main */
@font-face {
  /* source: https://github.com/jandre3000/j4n-co/tree/master/assets/fonts */
  font-family: 'Sofia Pro';
  src: url('./assets/fonts/sofia-pro-font/sofia-pro-light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  /* source: https://github.com/jandre3000/j4n-co/tree/master/assets/fonts */
  font-family: 'Sofia Pro';
  src: url('./assets/fonts/sofia-pro-font/sofia-pro-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

/* --font-editorial / nav */
@font-face {
  /* source: https://font.download/font/astro-futuristic-font */
  font-family: 'Astro';
  src: url('./assets/fonts/astro-font/astro.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* --font-typewriter */
/* source: https://fonts.google.com/specimen/Roboto+Mono */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  /* font variables */
  --font-main: 'Sofia Pro', 'Trebuchet MS', 'Lucida Sans Unicode',
    'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  --font-nav: 'Astro', Arial, sans-serif;
  /* --font-typewriter: 'Roboto Mono', monospace; */
  --font-typewriter: 'Ubuntu Mono', monospace;
  --typewriterSpeed: 4s;

  /* colour variables */
  --primary: #b6c0e6;
  --primary-a: #b6c0e6;
  --secondary: #72f586ec;
  --secondary-a: rgba(118, 145, 126, 0.3);
  --bg1: #103a55;
  --bg2: #082434;
  --bg-particles: #04141d;
  /* --bg-medium: rgba(255, 255, 255, 0.4); */
  /* --bg-medium: rgba(255, 255, 255, 0.4); */
  --bg-medium: rgba(144, 161, 165, 0.688);
  /* --bg-light: #60b7b5; */
  --bg-light: #84b1bd;
  /* --bg2: #1f2236; */
  /* --bg2: #1f2236; */
  --yellow: rgb(254, 240, 113);
  /* --yellow: #ffdc8b; */
  --yellow-a: rgba(254, 240, 113, 0.55);
  --red: rgb(237, 74, 90);
  --white: rgb(255, 254, 254);
  --white-a: rgba(255, 255, 255, 0.8);
  --black: rgb(0, 0, 0);
  --grey: rgb(159, 169, 184);
  --grey-a: rgba(108, 119, 137, 0.55);
  --grey-light: rgb(228, 228, 228);

  --navDotAcive: rgba(160, 255, 148, 0.7);
  --navDotInactive: rgba(128, 128, 128, 0.5);
  --homeDotActive: rgba(254, 240, 113, 0.55);
  --skillBg: rgb(6, 33, 66);

  --hero-section-width: 1366px;
  --section-title-size: '';
  --h1-font-size: '';
  --h2-font-size: '';
  --p-font-size: '';

  /* btn fill effect */
  --bubble-footer-before: 20px;
  --bubble-footer-after: 300px;
  --bubble-footer-transition: 2s;
  --bubble-projects-filter-before: 20px;
  --bubble-projects-filter-after: 190px;
  --bubble-projects-filter-transition: 0.5s;

  /* modal variables*/
  --modal-header-min-height: 80px;

  /* switch to mobile layout */
  --mobile-cutoff: 1200px;
}

/* type selectors */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-main);
}

*:focus {
  outline: none;
}

*::selection {
  background: var(--primary-light);
}
*::-moz-selection {
  background: var(--primary-light);
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

body {
  background-color: var(--bg-particles);
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

input,
textarea,
button,
a,
p,
div {
  font-family: var(--font-main);
}

textarea {
  resize: none;
}

button {
  cursor: pointer;
}

/* class selectors */
.bg-1 {
  background-color: var(--bg2);
}

.bg-2 {
  /* | work | about | */
  background-color: var(--bg1);
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.h-text {
  font-size: 2.75rem;
  font-weight: 800;
  text-align: center;
  color: var(--primary);
  text-transform: capitalize;

  span {
    color: var(--secondary);
  }

  @media screen and (min-width: 2000px) {
    font-size: 4rem;
  }

  @media screen and (max-width: 450px) {
    font-size: 2rem;
  }
}

.section-heading {
  font-family: var(--font-nav);
  font-size: 2rem;
  text-align: center;
  color: var(--secondary);
  width: 100%;
  @media screen and (max-width: 550px) {
    font-size: 2rem;
  }
}

.p-text {
  font-size: 0.8rem;
  text-align: left;
  color: var(--gray);
  line-height: 1.5;

  @media screen and (min-width: 2000px) {
    font-size: 1.75rem;
  }
}

.bold {
  font-size: 1rem;
  font-weight: 800;
  color: var(--black);
  text-align: left;

  @media screen and (min-width: 2000px) {
    font-size: 2rem;
  }

  @media screen and (max-width: 450px) {
    font-size: 0.9rem;
  }
}

.btn {
  background-color: transparent;
  border: 1px solid var(--primary);
  color: var(--primary);
  padding: 15px 20px;
  font-size: 1rem;
  border-radius: 10px;
  letter-spacing: 1px;
}

.grad1 {
  background: linear-gradient(90deg, rgb(223, 219, 183) 0%, #72f586 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
